@import "tailwindcss";

:root {
  /* colors */
  --background: #ffffff;
  --primary: #f17228;
  --text: #000;
  --light-gray: #e6e6e6;
  --dark-gray: #555555;

  /* fonts */
  --font-open-sans: "Open Sans";
}

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-primary: var(--primary);
  --color-light-gray: var(--light-gray);
  --color-dark-gray: var(--dark-gray);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-open-sans);
}

.hero-bg {
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.2)),
    url("/images/banner.jpg");
  background-size: cover;
  background-position: center;
}
